details {
    font-family: arial, sans-serif;
    margin-left: 10px;  /* Reduced for less indentation */
    border-left: 1px solid #ccc;  /* Reduced for less spacing */
    padding-left: 5px;  /* Reduced for less spacing */
}

summary {
    font-weight: bold;
    cursor: pointer;
    display: list-item;  /* To keep the arrow */
    list-style: disclosure-closed;  /* Default arrow when closed */
}

summary::-webkit-details-marker {  /* Custom arrow for Webkit browsers */
    display: none;
}

details[open] summary {
    list-style: disclosure-open;  /* Arrow when opened */
}

div {
    padding: 2px;  /* Reduced for less spacing */
    margin-top: 2px;  /* Reduced for less spacing */
    margin-bottom: 2px;  /* Reduced for less spacing */
    border-radius: 3px;  /* Reduced for less spacing */
    background-color: #f2f2f2;
}

details > div {
    margin-left: 10px;  /* Reduced for less indentation */
}
